* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.header {
    width: 100%;
    height: 84px;
    position: relative;
    z-index: 10;
}
.header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.header-fixed {
    background-color: #fff;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    animation: changeHeader .5s ease-in-out;
}
.header .content .logo .logo-fixed {
    display: none;
}
.header .content .nav-pc {
    width: 60%;
}
.nav-pc .list {
    display: flex;
    list-style-type: none;
    height: 100%;
    width: 100%;
}
.list .item {
    display: inline-block;
}
.header-fixed .list .item a {
    color: #444;
}
.header-fixed .list .item a i {
    color: #d3d3d3;
}
.list .item a {
    text-decoration: none;
    display: block; 
    font-size: 16px;
    line-height: 84px;
    margin: 0 24px;
    color: #fff;
}
.list .item:hover .sub-item {
    display: block;
    padding: 10px 0;
}
.item .sub-item {
    display: none;
    min-width: 250px;
    position: absolute;
    top: 100%; 
    background-color: #fff;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.item .sub-item::before {
    content: '';
    position: absolute !important;
    top: -10px;
    left: 15px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}
.item .sub-item li {
    padding: 12px 0;
    position: relative;
}
.item .sub-item li:hover {
    background-color: #f8f9fa;
}
.item .sub-item a {
    color: #2c2e30;
    padding: 0 12px;
    line-height: 30px;
    font-size: 12px;
    font-weight: 900;
}
.sub-item .sub-sub-item::after {
    content: '';
    position: absolute !important;
    top: 25px;
    right: 15px;
    border-top: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    color: #D3D3D3;
}
.sub-sub-item span {
    color: #212529;
    background-color: #ffc107;
    margin-left: 10px;
    padding: 4px 8px;
    border-radius: 14px;
    font-size: 85%;
}
.sub-item .sub-sub-item:hover .hidden-item {
    display: block;
    background-color: #fff;
    min-width: 280px;
    border-radius: 5px;
}
.sub-sub-item .hidden-item {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: -6px;
    list-style: none;
    color: #fff;
}
.intro{
    position: relative;
    height: 800px;
    background: rgba(255, 255, 255, 1) url(https://theme-land.com/sapp/demo/assets/img/bg/welcome-bg.jpg) no-repeat scroll center center/cover;
}
.intro::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    opacity: 0.94;
    z-index: 1;
}
.intro .container {
    width: 92%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    margin-top: 50px;
    z-index: 3;
}
.container .welcome {
    width: 38%;
}
.welcome h1 {
    font-size: 60px;
    color: #fff;
}
.welcome p {
    font-size: 18px;
    margin: 24px 0;
    color: #fff;
    line-height: 1.5;
}
.welcome .store {
    margin-top: 30px;
    display: flex;
}
.welcome .store a {
    text-align: left;
    margin-right: 10px;
    text-decoration: none;
}
.welcome .store a img {
    max-width: 90%;
}
.intro .container .img {
    max-width: 28%;
    text-align: center;
    transition-duration: 2.5s;
}
.intro .container .img img {
    height: auto;
    width: 75%;
}
.shape-bottom {
    position: absolute;
    top: auto;
    bottom: -16px;
    left: 0;
    right: 0;
    z-index: 2;
}
.number-counting {
    padding: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}
.number-counting .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.number-counting .container .content {
    height: 100%;
    width: 20%;
    text-align: center;
    position: relative;
}
.number-counting .container .content:not(:last-child)::after {
    position: absolute;
    content: '';
    height: 80%;
    width: 1px;
    background-color: #222222;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0.2;
}

.number-counting .container .number {
    width: 100%;
    height: 80%;
    font-size: 50px;
    font-weight: 700;
    background-image: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.number .increase-number{
    margin-right: -15px;
}
.number-counting .container .text {
    font-size: 20px;
    font-weight: 600;
    color: #222222;
    line-height: 1.2;
    margin-top: 20px;
}
.features {
    padding: 112px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}
.features .container,
.process .container {
    width: 75%;
    margin: 0 auto;
}
.features .container .premium {
    width: 20%;
    height: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    padding: 3px;
    margin-bottom: 15px;
}
.features .container .premium span {
    color:#222222;
    font-weight: 500;
    margin-right: 2px;
    font-size: 20px;
}
.features .container .premium .purple-item {
    color: #7c4fe0;;
}
.features .container h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #222222;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
}
.features .container h1::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 80px;
    background-color: #7c4fe0;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.features .container > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #565656;
    width: 65%;
    margin: 0 auto 80px auto;
    text-align: center;
}
.features .container .list-features {
    display: flex;
    width: 100%;
    gap: 40px
}
.list-features .item {
    width: 35%;
    padding: 58px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
    transition-duration: .5s;
}

.list-features .item:hover {
    transform: translateY(-10%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 54px 0px;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: 1.5s !important;
}
.list-features .item img {
    width: 54px;
    height: 54px;
    margin-bottom: 10px;
}
.list-features .item .text h3 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.4;
    color: #222222;
    margin-bottom: 5px;
}
.list-features .item .text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #565656;
}
.services {
    width: 100%;
    background-color: #f6f9fe;
    padding: 112px 0;
}
.services .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.services .container .list-services, 
.discover .container .list-discover {
    width: 40%;
}
.services .container .list-services h2, 
.discover .container .list-discover h2 {
    font-size: 56px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
}
.list-services .list-items,
.list-discover .list-items {
    list-style: none;
}
.list-services .list-items .item {
    display: flex;
    margin-bottom: 18px;
    gap: 20px;
}
.list-services .list-items .item .icon,
.list-discover .list-icons .icon {
    flex: 0 0 54px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    font-size: 26px;
    color: #7c4fe0;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.list-services .list-items .item .text {
    font-size: 16px;
    color: #565656;
    line-height: 1.4;
    font-weight: 400;
}
.list-services .button {
    width: 140px;
    font-size: 18px;
    font-weight: 400;
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    text-align: center;
    padding: 18px 20px;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
}
.list-services .button:hover {
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
}
.list-services .button a {
    text-decoration: none;
    color: #fff;
}
.services .container .img {
    max-width: 35%;
    text-align: end;
}
.services .container .img img {
    max-height: 90%;
    max-width: 80%;
}
.discover {
    width: 100%;
    padding: 112px 0;
    background-color: rgba(255, 255, 255, 1);
}
.discover .container {
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.discover .container .img {
    max-width: 50%;
    text-align: end;
}
.discover .container .img img {
    max-width: 85%;
}
.discover .list-discover p {
    font-size: 16px;
    color: #565656;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 10px;
}
.list-discover .list-items .item {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}
.list-discover .list-items .item .icon {
    color: #7c4fe0;
}
.list-discover .list-icons {
    display: flex;
    gap: 20px;
}
.process {
    width: 100%;
    background-color: #7c4fe0;
    padding: 112px 0;
}
.process .container h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.process .container > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    width: 65%;
    margin: 0 auto 50px auto;
    text-align: center;
}
.process .container .list-process {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 60px
}
.list-process .item {
    width: 28%;
    text-align: center;
    position: relative;
    transition-duration: 1s;
}
.list-process .item:hover::after {
    transform: translateX(5px);
}
.list-process .item:not(:last-child)::after {
    position: absolute;
    content: '\f054';
    font-size: 45px;
    font-weight: 900;
    color: #fff;
    font-family: 'Font Awesome 5 Free';
    top: 50%;
    right: -5px;
    margin-right: -50px;
}
.list-process .item img {
    width: 54px;
    height: 54px;
    margin-bottom: 10px;
}
.list-process .item .text h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    margin-bottom: 15px;
}
.list-process .item .text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
}
.slider-area {
    padding: 112px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}
.slider-area .container,
.process .container {
    width: 76%;
    margin: 0 auto;
}
.slider-area .container .awesome {
    width: 20%;
    height: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    padding: 3px;
    margin-bottom: 15px;
}
.slider-area .container .awesome span {
    color:#222222;
    font-weight: 500;
    margin-right: 2px;
    font-size: 20px;
}
.slider-area .container .awesome .purple-item {
    color: #7c4fe0;;
}
.slider-area .container h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #222222;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
}
.slider-area .container h1::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 80px;
    background-color: #7c4fe0;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.slider-area .container > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #565656;
    width: 65%;
    margin: 0 auto 80px auto;
    text-align: center;
}
.slider-area .container .slider {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.slider img {
    width: 20%;
}
.slick-initialized .slick-slide {
    margin-left: 25px;
}
.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50px);
    list-style: none;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.slick-dots button {
    font-size: 0px;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border-radius: 50%;
}
.slick-dots .slick-active button {
    background-color: #7c4fe0;
    box-shadow: 0 1px 5px #7c4fe0;
}
.feedback {
    padding: 112px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}
.feedback .container,
.process .container {
    width: 75%;
    margin: 0 auto;
}
.feedback .container .customer {
    width: 20%;
    height: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    padding: 3px;
    margin-bottom: 15px;
}
.feedback .container .customer span {
    color:#222222;
    font-weight: 500;
    margin-right: 2px;
    font-size: 20px;
}
.feedback .container .customer .purple-item {
    color: #7c4fe0;;
}
.feedback .container h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #222222;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
}
.feedback .container h1::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 80px;
    background-color: #7c4fe0;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.feedback .container > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #565656;
    width: 65%;
    margin: 0 auto 80px auto;
    text-align: center;
}
.feedback .container .list-feedback {
    display: flex;
    width: 100%;
    gap: 30px;
}
.list-feedback .item {
    width: calc(100%/3);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
    transition-duration: .5s;
}
.list-feedback .item:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 54px 0px;
}
.list-feedback .item .feedback-text {
    position: relative;
    padding: 20px;
}
.list-feedback .item .feedback-text .icon {
    color: #ffc107;
    margin-bottom: 20px;
}
.list-feedback .item .feedback-text h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    color: #7c4fe0;
    margin-bottom: 10px;
}
.list-feedback .item .feedback-text .text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #565656;
}
.list-feedback .item .feedback-text .quot-icon {
    position: absolute;
    top: 5px;
    right: 10px;
}
.list-feedback .item .feedback-text .quot-icon img {
    height: 60px;
    width: 60px;
}
.list-feedback .item .feedback-customer {
    background-color: #f6f9fe;
    display: flex;
    padding: 25px;
    margin-top: 10px;
    position: relative;
}
.list-feedback .item .feedback-customer::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    top: -10px;
    left: 50px;
    background-color: #f6f9fe;
    transform: rotate(45deg);
}
.list-feedback .item .feedback-customer .img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.list-feedback .item .feedback-customer .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.list-feedback .item .feedback-customer .infor {
    margin-left: 20px;
}
.list-feedback .item .feedback-customer .infor h5 {
    color: #222222;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
}
.list-feedback .item .feedback-customer .infor h6 {
    color: #666;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
}
.prices {
    padding: 112px 0;
    width: 100%;
    background-color: #f6f9fe;
}
.prices .container {
    width: 75%;
    margin: 0 auto;
}
.prices .container > h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #222222;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
}
.prices .container > h1::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 80px;
    background-color: #7c4fe0;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.prices .container > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #565656;
    width: 65%;
    margin: 0 auto 80px auto;
    text-align: center;
}
.prices .container .list-prices {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}
.prices .container .list-prices .item {
    text-align: center;
    background-color: #fff;
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
    padding: 0 50px;
    position: relative;
}
.list-prices .item img {
    width: 80px;
    height: 80px;
    margin-top: 40px;
}
.list-prices .item h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    color: #222222;
    margin: 10px 0;
    letter-spacing: 3px;
    opacity: 0.7;
}
.list-prices .item .total h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.4;
    color: #8731E8;
}
.list-prices .item .total h1 span {
    font-size: 60%;
    margin-right: 3px;
}
.list-prices .item .description ul li {
    list-style: none;
    border-top: 1px solid #dee2e6;
    color: #565656;
    font-size: 18px;
    padding: 20px 0;
}
.list-prices .item .description ul:last-child {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 50px;
}
.list-prices .item .button {
    width: 120px;
    font-size: 18px;
    font-weight: 400;
    background: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
    text-align: center;
    padding: 16px 20px;
    border-radius: 6px;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(50%);
    cursor: pointer;
}
.list-prices .item .button:hover {
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
}
.list-prices .item .button a {
    text-decoration: none;
    color: #fff;
}
.prices .container .text {
    color: #212529;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
}
.prices .container .text a {
    color: #212529;
}
.questions {
    padding: 112px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}
.questions .container {
    width: 80%;
    margin: 0 auto;
}
.questions .container > h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #222222;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
}
.questions .container > h1::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 80px;
    background-color: #7c4fe0;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.questions .container > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #565656;
    width: 65%;
    margin: 0 auto 80px auto;
    text-align: center;
}
.questions .container .list-questions {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}
.questions .container .list-questions .item {
    width: 45%;
}
.questions .container .list-questions .item h2 {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}
.questions .container .list-questions .item p {
    color: #565656;
    font-size: 16px;
    line-height: 1.5;
    margin: 25px 0;
}
.questions .container .text {
    color: #212529;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
.questions .container .text a {
    color: #212529;
}
.team-experts {
    padding: 112px 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}
.team-experts .container {
    width: 80%;
    margin: 0 auto;
}
.team-experts .container > h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #222222;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
}
.team-experts .container > h1::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 80px;
    background-color: #7c4fe0;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.team-experts .container > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    color: #565656;
    width: 65%;
    margin: 0 auto 80px auto;
    text-align: center;
}
.team-experts .container .teams {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.team-experts .container .teams .person {
    width: 255px;
    height: 255px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.team-experts .container .teams .person img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    transition: all .3s ease-in-out 0s;
}
.team-experts .container .teams .person:hover img {
    transform: scale(1.2);
}
.team-experts .container .teams .person:hover .overlay {
    background-color: #7c4fe0;
    opacity: 0.84;
}
.team-experts .container .teams .person .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: .5s;
}
.team-experts .container .teams .person .overlay h5 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
}
.team-experts .container .teams .person .overlay h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 20px;
}
.team-experts .container .teams .person .overlay a i {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: all .3s ease 0s;
    margin-right: 10px;
}
.team-experts .container .teams .person .overlay a:hover i {
    transform: scale(1.2);
}
.downloads {
    padding: 100px 0;
    width: 100%;
    position: relative;
    z-index: 0;
    background: rgba(255, 255, 255, 1) url("https://theme-land.com/sapp/demo/assets/img/bg/download-bg.jpg") no-repeat fixed center center/cover;
}
.downloads::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(16, 16, 45, 1);
    opacity: 0.80;
    z-index: -1;
}
.downloads .container {
    width: 80%;
    margin: 0 auto;
}
.downloads .container > h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.downloads .container .text {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    width: 68%;
    margin: 0 auto 30px auto;
    text-align: center;
}
.downloads .store {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.downloads .store a {
    text-align: left;
    margin-right: 10px;
    text-decoration: none;
}
.downloads .store a img {
    width: 200px;
}
.downloads .container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    width: 68%;
    margin: 15px auto 0 auto;
    text-align: center;
}
.subscribe {
    padding: 100px 0;
    width: 100%;
    position: relative;
    z-index: 0;
    background: rgba(255, 255, 255, 1) url("https://theme-land.com/sapp/demo/assets/img/bg/map.png") no-repeat scroll center center/cover;
}
.subscribe .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.subscribe .container > h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #222222;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}
.subscribe .container p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #565656;
    width: 55%;
    margin: 0 auto 20px auto;
    text-align: center;
}
.subscribe .container input {
    font-size: 16px;
    height: 60px;
    width: 60%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}
.subscribe .container button {
    font-size: 16px;
    height: 60px;
    width: 60%;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #7c4fe0;
    color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
}
.subscribe .container button:hover {
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.15);
}
.contact {
    padding: 112px 0;
    width: 100%;
    background-color: #f6f9fe;
}
.contact .container {
    width: 75%;
    margin: 0 auto;
}
.contact .container > h1 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    color: #222222;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
}
.contact .container > h1::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 80px;
    background-color: #7c4fe0;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.contact .container > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #565656;
    width: 65%;
    margin: 0 auto 80px auto;
    text-align: center;
}
.contact .container .list-contact {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact .container .list-contact .contacts-items {
    width: 40%;
}
.contact .container .list-contact .contacts-items > p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #565656;
    margin-bottom: 20px;
}
.contact .container .list-contact .contacts-items .list-items {
    width: 100%;
    flex-direction: column;
    list-style: none;
}
.contacts-items .list-items .item {
    width: 100%;
    text-align: center;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.contacts-items .list-items .item:hover .text {
    color: #7c4fe0;
    cursor: pointer;
}
.contacts-items .list-items .item .icon {
    flex: 0 0 45px;
    height: 45px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    background-color: #7c4fe0;
}
.contacts-items .list-items .item .text {
    text-align: start;
    color: #444;
    font-size: 16px;
    font-weight: 400;
    transition-duration: .5s;
}
.contact .container .list-contact .send-message {
    width: 50%;
}
.contact .container .send-message input { 
    font-size: 16px;
    height: 50px;
    width: 100%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-left: 15px;
}
.contact .container .send-message textarea {
    font-size: 16px;
    height: 150px;
    width: 100%;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px 15px;
}
.contact .container .send-message button {
    font-size: 16px;
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #7c4fe0;
    color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
}
.contact .container .send-message button:hover {
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.15);
}
.contact .container .send-message button i {
    margin-right: 10px;
}
.footer {
    padding: 100px 0 0 0;
    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: -2;
}
.footer .container {
    width: 80%;
    margin: 0 auto;
}
.footer .container .row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.footer .container .row .column {
    width: 20%;
}
.footer .container .row .column p {
    font-size: 18px;
    color: #565656;
    line-height: 1.5;
    font-weight: 400;
    margin: 10px 0 20px 0;
}
.footer .container .row .column .list-icons {
    display: flex;
}
.footer .container .row .column .list-icons .icon {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.footer .container .row .column .list-icons .icon i {
    display: block;
    line-height: 40px;
    height: 100%;
    transition-duration: .4s;
}
.footer .container .row .column .list-icons .icon:hover i {
    transform: translateY(-40px);
}
.fb {
    background-color: #3b5999;
}
.twitter {
    background-color: #55acee;
}
.google {
    background-color: #dd4b39;
}
.vine {
    background-color: #00b489;
}
.footer .container .row .column h3 {
    color: #222222;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 15px;
}
.footer .container .row .column ul li {
    list-style: none;
    margin-bottom: 20px;
}
.footer .container .row .column ul li a {
    text-decoration: none;
    color: #444;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    transition-duration: .5s;
}
.footer .container .row .column ul li a:hover {
    color: #7c4fe0;
}
.footer .container .row .column .store {
    width: 170px;
}
.footer .container .row .column .store a img {
    width: 100%;
    margin-bottom: 10px;
}
.footer .container .bottom {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    color: #565656;
    font-size: 18px;
    padding: 30px 0;
    margin: 100px auto 0 auto;
}
.footer .container .bottom .copyright-right a {
    text-decoration: none;
    color: #565656;
    transition-duration: .5s;
}
.footer .container .bottom .copyright-right a:hover {
    color: #7c4fe0;
}
@keyframes changeHeader {
    from {
        transform: translateY(-84px);
    }
    to {
        transform: translateY(0);

    }
}